@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Condensed", sans-serif;
}

/* components/CustomNavBar.css */

.custom-navbar {
  background-color: #001529;
  color: white;
}

.logo {
  font-size: 1.5rem;
}

.ant-menu-horizontal {
  background-color: transparent;
  border: none;
}

.ant-menu-horizontal .ant-menu-item {
  margin: 0 1rem;
}

.custom-row-class1 {
  background-color: #ffcccc; /* You can define your own colors */
}

.custom-row-class2 {
  background-color: #9aeddc;
}

.testimonials-container {
  background: linear-gradient(to bottom, #0074b9, #00b4d8);
  min-height: 30vh;
  padding: 20px;
  border-radius: 20px;
  color: #fff;
}
